#account-form {
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}
#account-form input {
    margin: 5px auto;
}

#account-form #change-pass-btn {
    color: #fff;
    background-color: #fb774b;
}
.account-info #order-btn,
#logout-btn {
    color: #fb774b;
    text-decoration: none;
}

/* Order */
.orders table {
    width: 100%;
    border-collapse: collapse;
}
.orders .product-info {
    display: flex;
    flex-wrap: wrap;
}
.orders th {
    /* text-align: left; */
    padding: 5px 10px;
    color: #fff;
    background-color: #fb774b;
}
.orders th:nth-child(4) {
    /* text-align: right; */
    padding-left: 50px;
}
.orders td {
    padding: 10px 20px;
}
.orders td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.orders td .date {
    display: block;
    text-align: right;
}
.orders .order-details-btn{
color: #fff;
background-color: #fb774b;
}
